
@{
    ViewBag.Title = "Change Password Successful";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<link href="../AcxiomDesign/dashboardcss/style.css" rel="stylesheet" type="text/css">
<link href="../AcxiomDesign/fonts/stylesheet.css" rel="stylesheet" type="text/css">
<link href="../AcxiomDesign/animation/animate.css" rel="stylesheet" type="text/css">
<link href="../AcxiomDesign/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400" rel="stylesheet">
<link href="../AcxiomDesign/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../AcxiomDesign/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../AcxiomDesign/mdb/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../AcxiomDesign/mdb/css/mdb.min.css" rel="stylesheet" type="text/css" media="all" />
@*<link href="../AcxiomDesign/mdb/sass/mdb.scss" rel="stylesheet" type="text/css" media="all" />*@

<script src="../AcxiomDesign/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="../AcxiomDesign/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../AcxiomDesign/bootstrap/js/animation.js"></script>
<script type="text/javascript" src="../AcxiomDesign/bootstrap/js/waypoints.min.js"></script>

<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="wrapper">
    <div class="demo-overlay">
        <div class="demo-second">
            <a href="javascript:void(0);" class="remove2"><img src="~/AcxiomDesign/images/exit.png" title="Close"></a>
            <h2>Alert</h2>
            <p><span id="lblErrorMessage"></span></p>
            <div class="demo-down">
                <button class="cancel-demo">Cancel</button>
                <button class="cancel-demo">Ok</button>
            </div>
        </div>
    </div>

    <div class="heading">
        <img src="../AcxiomDesign/images/CCA_Logo_Black.png">
    </div>

    <div class="top-title"><h2>Change Password Successful</h2></div>
   
</div>
<div class="logout">
    <h1>Your Password Has Been Changed Successfully! <br />
    Please @Html.ActionLink("Click on the Link","Login")  to Go to Login Page.<br />
    Thank You. </h1>
    <div class="clearfix"></div>
</div>
<div class="footer-first">
</div>
